:host {
    --main-colour: #D6E8F2;
    --secondary-colour: #EEE;
    --white: #FFF;
    --main-font-colour: #CCC;
    --right-blue: #020024;
    --middle-blue: #073495;
    --left-blue: #00d4ff;
}


.grid_container {
    display: grid;
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-rows: 50px 20vh 45vh calc(35vh - 50px);
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.login {
    grid-area: 3 / 2;
}

.login_register {
    grid-area: 4 / 2;
    margin-top: 10px;
}

.status {
    position: static;
    margin: auto;
}

  .wrapper {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 2;
    overflow-x: hidden;
    max-width: 390px;
    height: 580px;
    background: var(--secondary-colour);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  }

  .wrapper .title-tex {
    display: flex;
    width: 200%;
  }

  .wrapper .title {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }

  .wrapper .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }

  .slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }

  .slide-controls label.signup {
    color: #000;
  }
  
  .slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: #073596;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }

  input[type="radio"] {
    display: none;
  }

  .form-container {
    min-height: 390px;
    overflow-y: auto;
  }

  #signup:checked ~ .slider-tab {
    left: 50%;
  }

  #signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
  }

  #signup:checked ~ label.login {
    color: #000;
  }

  #login:checked ~ label.signup {
    color: #000;
  }

  #login:checked ~ label.login {
    cursor: default;
    user-select: none;
  }

  .wrapper .form-container {
    width: 100%;
    overflow: hidden;
  }

  input[type="checkbox"] {
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  }

  .form-container .form-inner form {
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }

  .form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }

  .form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }

  .form-inner form .field input:focus {
    border-color: #D6E8F2;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }

  .form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
  }

  form .field input:focus::placeholder {
    color: #b3b3b3;
  }

  .form-inner form .pass-link {
    margin-top: 5px;
  }

  .form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
  }

  form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

  form .btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #081E87, #073194, #064BA4);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }

  form .btn:hover .btn-layer {
    left: 0;
  }

  form .btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
