<div class="body-container">
    <div class="date-container"> 
        <div>
            <svg (click)=previousDay() height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.1 34.1" xml:space="preserve">
                <path style="fill:#010002" d="M24.6 34a2 2 0 0 1-1.4-.5l-15-15a2 2 0 0 1 0-2.9l15-15A2 2 0 1 1 26 3.4L12.3 17 26 30.7a2 2 0 0 1-1.4 3.4z"/>
            </svg>
        </div>
        <div class="date">
            {{_date | date: 'fullDate':'': 'en-gb'}} 
        </div>
        <div>
            <svg (click)=nextDay() height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.3 185.3" xml:space="preserve">
                <path style="fill:#010002" d="M51.7 185.3a10.7 10.7 0 0 1-7.6-18.3l74.4-74.3L44 18.3A10.7 10.7 0 1 1 59.3 3.1l82 82a11 11 0 0 1 0 15.2l-82 81.9a11 11 0 0 1-7.6 3.1z"/>
            </svg>
        </div>
    </div>
    <div class="rooms">
        @for(room of _rooms; track $index; let outer_index = $index) {
            <div>
                <div class="name">{{room.roomName}}</div>
                @for(segment of _timelines[outer_index]; track $index; let inner_index = $index; let first = $first; let last = $last) {
                    <div class="segment" 
                            [class.mouseover]="(this._mouseover.booking_id == segment.booking_id && this._mouseover.room == outer_index)" 
                            [ngClass]="(segment.status == 0) ? 'set' : (segment.status == 1) ? 'planned' : (segment.status == 2) ? 'preference' : ''" 
                            [class]="(segment.empty == true) ? 'empty' : 'course'" [ngStyle]="first ? _topBorder : (last ? _botBorder : _sideBorder)"
                    >
                        @if(segment.empty == true) {
                        <div (click)="newCourse(outer_index, inner_index)">
                            {{_hour_markers[inner_index]}}
                        </div>
                        } @else {
                        <div 
                            (mouseleave)="setHover('', -1, -1)" 
                            (mouseenter)="setHover(segment.booking_id, outer_index, inner_index)" 
                            (click)="bookingInfo(segment.booking_id, outer_index)">
                            @if(_timelines[outer_index][inner_index - 1].booking_id != _timelines[outer_index][inner_index].booking_id) {
                                {{segment.booking_id | courseName: this._bookings : this._courses}}
                            } @else {
                                &nbsp;
                            }
                        </div>
                        }
                    </div>
                }
            </div>
        } @empty {
            <div>Loading ...</div>
        }
        <div class="hours">
            @for(time of _hour_markers; track $index) {
                @if(time.match("[0-9]?[0-9]:00")) {
                    <div>{{time}}</div>
                } @else {
                    <div>&nbsp;</div>
                }
            }
        </div>
    </div>
</div>