:host {
    --main-colour: #D6E8F2;
    --secondary-colour: #EEE;
    --white: #FFF;
    --grey: #BBB;
    --main-font-colour: #CCC;
    --right-blue: #070080;
    --middle-blue: #073495;
    --left-blue: #00d4ff;
}

.body-container {
    display: flex;
    border-right: 2px black solid;
    border-top: 2px black solid;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.date-container {
    height: 30px;
    margin: 15px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}

.date {
    font-size: 16pt;
}

.date-container div {
    margin: 0 10px 10px 0;
}

.segment {
    border: 1px black solid;
    min-width: 200px;
}

.segment.course {
    transition: ease-in 0.2s;
}

.hours {
    margin-top: 25px;
    padding-right: 20px;
}

.hours div {
    height: 18px;
}

.course {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

div .set {
    background: var(--right-blue);
    color: var(--main-font-colour);
}

.rooms {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.rooms > div {
    margin-left: 40px;
}

.empty {
    color: var(--secondary-colour);
    text-align: center;
    
}

.empty:hover {
    background: var(--grey);
    border: 5px black solid;
    cursor: pointer;
    color: #000;
    transform: scale(1.2);
}

.mouseover {
    transform: scale(1.1);
    transition: ease-out 0.2s;
}


svg {
    cursor: pointer;
}

.date-container svg:hover {
    transform: scale(1.3);
}

.name {
    text-align:center;
    font-weight: 600;
    font-size: 16pt;
}
